<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <h1>test if</h1>
    <table>
        <tr th:each="user, iterStat: ${users}">
            <td th:text="${user.name}">id</td>
            <td th:text="${user.age}">name</td>
            <td th:text="${user.pass}">age</td>
            <td th:text="${iterStat.index}">index</td>
        </tr>
    </table>

</body>
</html>